<main class="main">
  <div class="inner">
    <div class="nail__wrapper">
      <p class="nail__hedding">
        <%= @nail.title %>
      </p>
      <%= link_to "by #{@nail.user.nickname}", user_path(@nail.user.id), class: :nail__user %>
      <% if user_signed_in? && current_user.id == @nail.user_id %>
        <div class="nail__manage">
          <%= link_to "編集する", edit_nail_path, class: :nail__btn %>
          <%= link_to "削除する", nail_path, method: :delete, class: :nail__btn %>
        </div>
      <% end %>
      <div class="nail__image">
        <%= image_tag @nail.image %>
      </div>
      <div class="nail__body">
        <div class="nail__detail">
          <p class="detail__title">デザインの詳細</p>
            <%= safe_join(@nail.detail.split("\n"),tag(:br))%>
          </p>
        </div>
        <br><br>

        <% if user_signed_in? %>
          <div class="nail__item">
            <p class="item__title">使用したアイテム</p>
              <%= safe_join(@nail.item.split("\n"),tag(:br))%>
            </p>
          </div>
          <br><br>

          <div class="nail__fingers">
            <p class="thumb__title">①親指</p>
              <%= safe_join(@nail.thumb.split("\n"),tag(:br))%>
            </p>
            <br>
            <p class="index_finger__title">②人差し指</p>
              <%= safe_join(@nail.index_finger.split("\n"),tag(:br))%>
            </p>
            <br>
            <p class="middle_finger__title">③中指</p>
              <%= safe_join(@nail.middle_finger.split("\n"),tag(:br))%>
            </p>
            <br>
            <p class="ring_finger__title">④薬指</p>
              <%= safe_join(@nail.ring_finger.split("\n"),tag(:br))%>
            </p>
            <br>
            <p class="little_finger__title">⑤小指</p>
              <%= safe_join(@nail.little_finger.split("\n"),tag(:br))%>
            </p>
            <br>
          </div>
        <% end %>
      </div>


      <div class="nail__comments">
        <% if user_signed_in? %>
          <%= form_with model: [@nail, @comment], local: true do |f| %>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text, id:"comment_content" %>
            </div>
            <div class="actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <% end %>
        <% else %>
          <strong><p>コメントを投稿するにはログインしてください</p></strong>
        <% end %>
        <br>
        <ul class="comments_lists">
        <% @comments.each do |comment| %>
            <li class="comments_list">
              <%= comment.text %>
              <%= link_to "by #{comment.user.nickname}", user_path(comment.user.id), class: :comment_user %>
            </li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
</main>
